.grid-item {
    display: flex;
    background-color: lightseagreen;
    border: 1px solid darkblue;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
}